/* para import _nombreArchivo.scss añade ( @import 'nombreArchivo' ) */


/* Small devices (tablets, 768px and up) */

// @media (max-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */

// @media (min-width: 992px) and (max-width: 769px) { ... }
// @media (min-width: 1200px) and (max-width: 993px) { ... }

/* Large devices (large desktops, 1200px and up) */

// @media (min-width: 1201px) { ... }*/

/* TEMA = constants : (colores, estilos, fuentes) */

// Palette URL: http://paletton.com/#uid=13l0u0kbusr0KEj55uVlvp2z7n+ */
$color-primary-0: #5A858B; // Main Primary color */
$color-primary-1: #B5B8B9;
$color-primary-2: #7F9497;
$color-primary-3: #2A707A;
$color-primary-4: #026775;
$rgba-primary-0: rgba( 90, 133, 139, 1); // Main Primary color */
$rgba-primary-1: rgba(181, 184, 185, 1);
$rgba-primary-2: rgba(127, 148, 151, 1);
$rgba-primary-3: rgba( 42, 112, 122, 1);
$rgba-primary-4: rgba( 2, 103, 117, 1);
$size-small:0.5em;
$size-medium:0.8em;
$size-large:1.2em;
$size-extra-large:1.6em;
$font1:'Orbitron',
sans-serif;
$font2: 'Open Sans Condensed',
sans-serif;
$font3: 'Kanit',
sans-serif;

/* MODULOS = (botones, iconos, widget):varibles @mixin.., @extend... */

.shadow {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.4), 0 6px 40px 0 rgba(0, 0, 0, 0.29);
}

.heigthBg {
    height: 560px !important;
    min-height: 560px !important;
}

// ejemplos
// @mixin border-radius(radius) {
// border-radius: radius;
// }
// lo implementas --> '.box { @include border-radius(10px); }'

/* ESTADOS = accion a un evento de javascript: .is-hide/.is-show */

.isHide {
    display: none;
}

.isVisible {
    visibility: hidden;
}

.isOpacity {
    background-color: rgba(#000, 0.7);
}

.isFavorite {
    color: yellow;
}


/* BASE= (inicializar elementos) elementos html */


/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */


/* Document
   ========================================================================== */

html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body,
html,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    /* 1 */
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    width: 100%;
    text-decoration: none;
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
html [type="button"],

/* 1 */

[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

t {
    padding: 0.35em 0.75em 0.625em;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

details,

/* 1 */

menu {
    display: block;
}

summary {
    display: list-item;
}

[hidden] {
    display: none;
}


/* LAYOUT= maquetacion myStyle */

//stickyFooter
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

//class--> footer
.footer {
    background-color: $color-primary-3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9em; // margin-top: -100px;
    z-index: 100;
    color: #fff;
    @media only screen and(max-width: 768px) {
        font-size: $size-medium;
        height: 50px;
    }
    &-box {
        color: #fff;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        @media only screen and(max-width: 768px) {
            border-top: none;
            border-bottom: none;
        }
    }
}

//class--> headerBg
.headerBg2 {
    background-image: url("./../images/bg3.jpg");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    filter: opacity(1);
}

.headerBg {
    background-image: url("./../images/bg1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    filter: opacity(1);
}

//class--> header
.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $font1;
    &-bar {
        height: 100px;
        background-color: rgba($color-primary-3, 0.4);
        display: flex;
        justify-content: space-between;
        font-family: $font1;
        @media only screen and (max-width: 768px) {
            height: 50px;
        }
    }
    &-main {
        position: relative;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: $size-extra-large*1.5;
        margin: auto;
        @media only screen and (max-width: 768px) {
            font-size: $size-extra-large;
        }
    }
}

.box {
    text-align: center;
    h1 {
        line-height: 150px;
        border-bottom: 5px solid #fff;
        border-top: 5px solid #fff;
        @media only screen and (max-width: 768px) {
            border-bottom: none;
            border-top: none;
            line-height: 50px;
        }
    }
    p {
        font-family: $font2;
    }
}

.btnMovies {
    border-radius: 10px;
    background-color: $color-primary-3;
    font-family: $font1;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 2px 40px #fff;
    @media only screen and(max-width: 768px) {
        display: block;
        width: 75%;
        padding: 10px;
        margin: 0 auto;
        box-shadow: 2px 2px 10px #fff;
    }
}

a.btnMovies {
    margin-top: 10px;
    text-shadow: 2px 2px 50px #000;
}

.logo {
    display: block;
    line-height: 100px;
    text-align: center;
    z-index: 100;
    font-size: $size-extra-large*2;
    font-family: $font1;
    padding: 5px;
    @media only screen and (max-width: 768px) {
        line-height: 50px;
        font-size: $size-extra-large;
    }
    a {
        color: transparent;
        text-shadow: 2px 2px 50px #fff;
        color: #fff;
        margin-left: 10px;
    }
}

.login {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 768px) {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        z-index: 1000;
        background-color: rgba(#fff, 0.8);
        font-size: $size-extra-large;
        border: 2px solid #fff;
        color: $color-primary-3;
    }
}

.burger {
    padding: 5px;
    .icon-bar {
        display: block;
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}

.form {
    @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    input {
        padding: 2px;
    }
    input::placeholder {
        color: blue;
        @media only screen and (max-width: 768px) {
            color: #fff;
        }
    }
    input[type='text'],
    input[type='password'] {
        width: 40%;
        height: 20px;
        text-align: center;
        border-radius: 3px;
        border: none;
        line-height: 10px;
        font-size: $size-medium;
        filter: opacity(0.6);
        color: $color-primary-0;
        @media only screen and (max-width: 768px) {
            height: 50px;
            display: block;
            margin: 0 auto;
            background-color: black;
            width: 100%;
            margin: 5px;
        }
    }
    input[type='password'] {
        float: right;
        margin-right: 50px;
        @media only screen and (max-width: 768px) {
            float: none;
            margin-right: 0;
        }
    }
    input[type='submit'] {
        color: #fff;
        background-color: transparent;
        border: none;
        @media only screen and (max-width: 768px) {
            padding-bottom: 20px;
            color: $color-primary-3;
            ;
        }
    }
}

span a {
    float: right;
    margin-right: 50px;
    color: #fff;
    text-decoration-style: none;
    @media only screen and (max-width: 768px) {
        margin: 0 auto;
        color: $color-primary-3;
        ;
    }
}

//  class--> secction
.section {
    background-color: $color-primary-3;
    color: #fff;
    z-index: 10000;
}

.page {
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 1200px;
    @media only screen and (max-width: 1200px) {
        width: 900px;
    }
    @media only screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
    }
    &-item {
        border: 5px solid #fff;
        margin-top: 50px;
        width: 30%;
        padding: 10px;
        background-color: $color-primary-3;
        @media only screen and (max-width: 768px) {
            width: 90%;
            font-size: $size-medium;
            padding: 0;
        }
        h2 {
            font-size: $size-extra-large*1.4;
            padding: 20px;
            font-family: $font1;
        }
        .text {
            text-align: justify;
            padding: 15px;
            color: rgba(#fff, 0.7);
            font-size: $size-extra-large;
            font-family: $font3;
        }
    }
}

.icon {
    margin: 30px 0 3px 0;
    font-size: $size-large;
    .fa {
        text-shadow: 2px 2px 200px #000;
    }
}

// class-->filter
.filter {
    height: 100px;
    line-height: 100px;
    font-size: $size-extra-large*1.4;
    font-family: $font1;
    padding: 0 20px;
    z-index: 100px;
    select[name="genero"] {
        width: 500px;
    }
    input[type="submit"] {
        background-color: #fff;
        color: $color-primary-3;
        border-radius: 10px;
    }
}

// class--> content
.content {
    // width: 100%;
    &-box {
        font-family: $font2;
        font-size: $size-extra-large*2;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        @media only screen and (max-width: 768px) {
            font-size: $size-extra-large;
        }
    }
}

// class --> movies
.movies {
    position: relative;
    display: flex; //flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 50px;
    height: 100%;
    @media only screen and (max-width: 768px) {
        width: 100%;
        font-size: $size-medium;
        padding: 0;
    }
    &-item {
        //display: ;
        @extend .shadow;
        position: relative;
        width: 22%;
        height: 550px;
        margin-top: 150px;
        @media only screen and (max-width: 1200px) {
            width: 44%;
        }
        @media only screen and (max-width: 768px) {
            width: 90%;
            height: 400px;
            &:nth-child(1) {
                margin-top: 20px;
            }
        }
        &-image {
            height: 100%;
            img {
                height: 100%;
            }
        }
        &-content {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            line-height: 80px;
            left: 0;
            z-index: 100;
            width: 100%;
            text-align: center;
            font-size: $size-extra-large;
            font-family: $font1;
            background-color: rgba($color-primary-3, 0.5);
            .fa {
                display: inline;
                float: left;
                padding: 5px;
            }
            a {
                display: block;
                width: 100%;
                color: #fff;
            }
        }
        .eye {
            position: absolute;
            top: 510px;
            left: 70%;
            overflow: hidden;
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-size: $size-extra-large*1.7;
            font-family: $font3;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            background-color: red;
            box-sizing: content-box;
            @extend .shadow;
            @media only screen and (max-width: 768px) {
                top: 360px;
            }
        }
        &-detail {
            //position: relative;
            @extend .shadow;
            background-color: $color-primary-3;
            color: #fff;
            font-size: $size-large;
            font-family: $font3;
            line-height: 20px;
            .detail{
              padding: 10px 10px 10px 30px;
            }
            
            span {
                font-family: $font2;
                font-size: $size-large;
            }
            .votar {
                left: 0;
                border-top: 2px solid #fff;
                text-align: center;
                width: 100%;
                padding: 5px;
                span{
                    font-family: $font3;
                    font-size: $size-extra-large;
                    line-height: 20px;
                }
                select[name="votar"]{
                    width: 100px;
                }
                input[type="submit"]{
                    color: $color-primary-3;
                    background-color: #fff;
                    border-radius: 10px;
                }
            }
        }
    }
}

//class--> content2
.content2 {
    padding-top: 50px;
    overflow: hidden;
    background-color: #fff;
    &-box {
        z-index: 100;
        color: $color-primary-3;
        font-family: $font2;
        font-size: $size-extra-large*2;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        @media only screen and (max-width: 768px) {
            margin-top: 50px;
            font-size: $size-extra-large;
        }
    }
}

//url images
//superman http://hdqwalls.com/download/superman-in-batman-vs-superman-movie-1024x1204.jpg
//avengers http://4.bp.blogspot.com/-1aTgAcMkoCk/VgIzFaOLSAI/AAAAAAAAA8I/jDewVAvo6sU/s1600/Avengers%2B2%2B800x1200.JPG
//niños grandes 2 http://www.elmulticine.com/imagenes/carteles/3/ninos-grandes-2-poster-b.jpg
//exorcita http://3.bp.blogspot.com/-ZxikvAz0V_A/TcSVqy2tCTI/AAAAAAAACi8/5gmlIHBxX9s/s1600/Exorcist%252BExorcista%252BThe%252B1973%252Bposter.jpg

/*




@import '../../framework-duard/library/stickyFooter/scss/stickyFooter';
body,
h1,
h2 {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

.main-fixed {
    background: url('./../images/tim-gouw-69753.jpg') center/ cover;
    margin: 0;
    filter: blur(5px);
    min-height: 100vh;
}

.main {
    color: #fff;
    position: absolute;
    background-color: rgba(grey, 0.7);
    top: 10%;
    left: 25%;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    border: 5px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px;
    &-header {}
    &-init {
        padding: 30px 0 0 0;
    }
}

.user {
    float: left;
    margin-left: 5px;
    p {
        display: inline-block;
    }
}

.form {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    input[type='input'] {
        display: flex;
        width: 200px;
        text-align: center;
        border-radius: 10px;
        color: #fff;
        height: 50px;
        line-height: 50px;
        font-size: 1.3em;
        background-color: green;
    }
    input {
        font-size: 0.8em;
        margin: 0 auto;
        margin-top: 10px;
        height: 40px;
        width: 400px;
    }
}

.registre {
    float: right;
    margin-right: 30px;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
    margin-top: -100px;
    z-index: 100;
    color: #fff;
    &-box {
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
    }
}*/